.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.value-handler {
    border: 1px solid black;
}

.value-handler:hover {
    cursor: pointer;
}