* {
    box-sizing: border-box;
}

body {
    position: relative;

    margin: 0;

    font-family: 'Roboto', sans-serif;
    background-color: #363434;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}